USE [master]
GO
/****** Object:  Database [food]    Script Date: 4/23/2021 10:19:23 PM ******/
CREATE DATABASE [food]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'food', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\food.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'food_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\food_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [food].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [food]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 4/23/2021 10:19:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[c_no] [nvarchar](50) NOT NULL,
	[c_name] [nvarchar](50) NULL,
	[c_phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_customers] PRIMARY KEY CLUSTERED 
(
	[c_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detaile_order]    Script Date: 4/23/2021 10:19:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detaile_order](
	[No_Det_Order] [nvarchar](50) NOT NULL,
	[No_Order] [nvarchar](50) NOT NULL,
	[no_items] [nvarchar](250) NOT NULL,
	[Qtty] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[Descount] [int] NOT NULL,
 CONSTRAINT [PK_detaile_order] PRIMARY KEY CLUSTERED 
(
	[No_Det_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[head_order]    Script Date: 4/23/2021 10:19:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[head_order](
	[No_Order] [nvarchar](50) NOT NULL,
	[Data_Order] [datetime] NULL,
	[c_no] [nvarchar](50) NULL,
	[Total] [int] NULL,
 CONSTRAINT [PK_head_Order] PRIMARY KEY CLUSTERED 
(
	[No_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[items]    Script Date: 4/23/2021 10:19:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[no_items] [nvarchar](250) NOT NULL,
	[name_items] [nvarchar](250) NULL,
	[item_price] [int] NULL,
	[cost] [nvarchar](250) NULL,
 CONSTRAINT [PK_items] PRIMARY KEY CLUSTERED 
(
	[no_items] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/23/2021 10:19:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_no] [int] NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[user_pass] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detaile_order]  WITH CHECK ADD  CONSTRAINT [FK_detaile_order_detaile_order] FOREIGN KEY([No_Det_Order])
REFERENCES [dbo].[detaile_order] ([No_Det_Order])
GO
ALTER TABLE [dbo].[detaile_order] CHECK CONSTRAINT [FK_detaile_order_detaile_order]
GO
ALTER TABLE [dbo].[head_order]  WITH CHECK ADD  CONSTRAINT [FK_head_Order_customers] FOREIGN KEY([c_no])
REFERENCES [dbo].[customers] ([c_no])
GO
ALTER TABLE [dbo].[head_order] CHECK CONSTRAINT [FK_head_Order_customers]
GO
USE [master]
GO
